@import url("./global.css");

.textPrimary {
    color: var(--color-primary);
    font-size: var(--font-size-primary);
    color: #;
}

.textSecondary {
    color: var(--color-fakeBlack);
    font-size: var(--font-size-secondary);
}